#####################################################################################################
# Azerothcore Module:     TimeIsTime
# Author:                 Dunjeon
# Contributing Author(s): lasyan3, vratam @ RegWorks
# Version:                20250608
# License:                GNU Affero General Public License v3.0
#####################################################################################################
[worldserver]

# Announce
#####################################################################################################
# Announce  TimeIsTime
# Settings: 0 = off, 1 = on
# Default:  1
# Example:  TimeIsTime.Announce = 1
#####################################################################################################
TimeIsTime.Announce = 1

# Enable
#####################################################################################################
# Enable TimeIsTime
# Settings: 0 = off, 1 = on
# Default:  1
# Example:  TimeIsTime.Enable = 1
#####################################################################################################
TimeIsTime.Enable = 1

# HourOffset:
#####################################################################################################
# Offset realmtime by <HourOffset> hours compared to local time
# Default:  0 (no offset)
# Example:  3 (realm time is 3 hours ahead of local time)
#          -4 (realm time is 4 hours behind local time)
#####################################################################################################
TimeIsTime.HourOffset = 0
